body { 
  background: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-smart-robot-arm-advertising-background-backgroundrobotblue-backgrounddark-backgroundlightlight-image_68405.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Alata', sans-serif;

  }
  

  .contenedor{
    margin: auto;
    width: 1000px;
    height: 700px;
    padding: 5px 0px 5px 5px;
    margin-bottom: 0;
  }
  .LogoAlura{

    width: 120px;
    height: auto;
    margin: 58px 0 20px 192px;
    border-radius: 7px;
  }
  .LogoAlura:hover{
    transform: scale(1.2);
    box-shadow: #488feb 10px 10px 10px 10px;
    }

  
  .titulo{
    font-size: 30px;
    color: #dfdbd1;
    margin-left: 15%;
    text-align: left;
    font-family: 'Alata', sans-serif;
  }


  .text-input{
     margin: 20PX;
    padding: 15PX;
    color: #ee5fcf;
    width: 538px;
    height: 302px;
    background: transparent;
    border: none;
    font-size: 20px;
    box-shadow: inset 0 0 20px white;
    border-radius: 15px;
  }
  .text-input:hover{
    transform: scale(1);
    box-shadow: #488feb 10px 10px 10px 10px;
  }

  .izquierda{
    float: left;
    width: 70%;
    height: 50%;
    margin: 3px;
  padding: 3px;
    
  }
  
 
  .cuadroDerecha{
    width: 2800px;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: transparent;
    border: none;
    font-size: 20px;
    box-shadow: inset 0 0 20px white;
    border-radius: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }
  .cuadrosdetexto{
    display: flex;
    flex-wrap: nowrap;

  }
  #texto2{
    margin-left:14px ;
    margin-top: 30px;
    font-size: 18px;
    width: 200px;
    height: 180px;
    color: rgb(189, 184, 184);
    background-color: black ;
    opacity: 0.4;
    border: none;
    border-radius: 15px;
  }
  h1{
    margin: 5px;
    font-size: 18px;
    color: aqua;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
  }


  .botones{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;


  }

  #boton1{
    padding: 10px;
    width: 30%;
    height: 60%;
    background: #1e3bdf;
    border-radius: 15px;
    margin-left: 15%;
    color: white;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
  }
  #boton1:hover{
    background: #6c7ddf;
  }

  

  #boton2{
    padding: 10px;
    width: 30%;
    height: 60%;
    background: #424b7a;
    border-radius: 15px;
    color: white;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
  }
  #boton2:hover{
    background: #6e707c;
  }

  p{
    margin-top: 10px;
    margin-left: 30%;
    font-family: 'Alata', sans-serif;
    color: darkslateblue;

  }

  
  #imgDerecha{
    margin-top: 20%;
    width: 90px;
    height: auto;
    left: 1032px;
    top: 283px;
  }

  #texto #texto2{
    margin-left: 5%;
    margin-right: 5%;
  }

  #copiar{
    display: flex;
    margin: 15px; 
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    color: rgb(122, 15, 87);
    background: #6aa3ec;
    border-radius: 3px;
    text-transform: uppercase;
    text-shadow: 6px 10px 9px #6aa3ec ;
    ;
  }
  #copiar:hover{
    transform: scale(1.1);
    box-shadow: #691869 6px 6px;
  }
   


  





